/* .profile img{
    filter: drop-shadow(7px 7px 4px rgba(0, 0, 0, 0.25));
    border-radius: 30px;
    margin-top: 10px;
    height: 400px;
    width: 400px;
}

.profile .hero-content{
    padding: 20px 100px 10px 125px;
    line-height: normal;
}

.profile .hero-name{
    font-size: 40px;
    font-style: bold;
    font-family: sans-serif;
}

.profile .hero-designation{
    font-size: 18px;
    text-align: center;
    font-style: medium;
    font-family: sans-serif;
} */
body {
    color: #797979;
    background: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #414141;
}

a {
    color: #313131;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #EF233C;
    outline: none;
    text-decoration: none;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

.btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: #EF233C;
    border: 2px solid transparent;
    border-radius: 0;
    box-shadow: inset 0 0 0 50px #EF233C;
    transition: ease-out 0.3s;
    -webkit-transition: ease-out 0.3s;
    -moz-transition: ease-out 0.3s;
}

.btn:hover {
    color: #EF233C;
    background: transparent;
    box-shadow: inset 0 0 0 0 #EF233C;
    border-color: #EF233C;
}


/* navbar */
.navbar{
    background-color: #EF233C !important;
}
form.example{
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid rgb(224, 224, 224);
    float: left;
    width: 80%;
    height: 35px;
    background: #f1f1f1;
    margin: auto;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: auto;
    height: 35px;
    margin: auto;
    background: #97cefc;
    color: white;
    font-size: 17px;
    border: 1px solid rgb(224, 224, 224);
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #46acff;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .navbar .navbar-brand {
      font-size: 42px;
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 0;
      padding: 10px;
      margin: 15px 0;
      color: #EF233C;
  }

  .navbar .navbar-nav{
      margin: 15px 0;
      color: #414141;
  }
  .navbar .navbar-nav:hover{
      color: rgb(29, 29, 29);
  }

/*******************************/
/********** Hero CSS ***********/
/*******************************/
.hero {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
    padding: 120px 0 0 0;
    background: linear-gradient(rgba(239, 35, 60, .95), rgba(239, 35, 60, .95));
}

.hero .container-fluid {
    padding: 0;
}

.hero .hero-image {
    position: relative;
    text-align: right;
    padding-right: 75px;
}

.hero .hero-image img {
    max-width: 80%;
    max-height: 80%;
    border-radius: 40px 40px 0 0;
    opacity: 0.95;
}

.hero .hero-content {
    position: relative;
    padding-left: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.hero .hero-text p {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 15px;
}

.hero .hero-text h1 {
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-bottom: 15px;
}

.hero .hero-text h2 {
    display: inline-block;
    margin: 0;
    height: 35px;
    color: #ffffff;
    font-size: 35px;
    font-weight: 600;
}

.hero .hero-text .typed-text {
    display: none;
}

.hero .hero-text .typed-cursor {
    font-size: 35px;
    font-weight: 300;
    color: #ffffff;
}

.hero .hero-btn .btn {
    margin-top: 35px;
    color: #EF233C;
    background: #ffffff;
    box-shadow: inset 0 0 0 50px #ffffff;
}
.hero .hero-btn #btn1{
    color: #ffffff;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ffffff;
    border-color: #ffffff;
}
.hero .hero-btn #btn1:hover{
    margin-top: 35px;
    color: #EF233C;
    background: #ffffff;
    box-shadow: inset 0 0 0 50px #ffffff;
}

.hero .hero-btn .btn:hover {
    color: #ffffff;
    background: transparent;
    box-shadow: inset 0 0 0 0 #ffffff;
    border-color: #ffffff;
}

.hero .hero-btn .btn:first-child {
    margin-right: 10px;
}

@media (max-width: 991.98px) {
    .hero {
        padding-top: 60px;
    }
    
    .hero .hero-content {
        padding: 0 15px;
    }
    
    .hero .hero-text p {
        font-size: 20px;
    }
    
    .hero .hero-text h1 {
        font-size: 45px;
    }
    
    .hero .hero-text h2 {
        font-size: 25px;
        height: 25px;
    }
    
    .hero .hero-btn .btn {
        padding: 12px 30px;
        letter-spacing: 1px;
    }
}

@media (max-width: 767.98px) {
    .hero {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .hero,
    .hero .hero-text,
    .hero .hero-btn {
        width: 100%;
        text-align: center;
    }
    
    .hero .hero-text p {
        font-size: 18px;
    }
    
    .hero .hero-text h1 {
        font-size: 35px;
    }
    
    .hero .hero-text h2 {
        font-size: 22px;
        height: 22px;
    }
    
    .hero .hero-btn .btn {
        padding: 10px 15px;
        letter-spacing: 1px;
    }
}

@media (max-width: 575.98px) {
    .hero .hero-text p {
        font-size: 16px;
    }
    
    .hero .hero-text h1 {
        font-size: 30px;
    }
    
    .hero .hero-text h2 {
        font-size: 18px;
        height: 18px;
    }
    
    .hero .hero-btn .btn {
        padding: 8px 10px;
        letter-spacing: 0;
    }
}


/* about section */
.about-title{
    margin: 10px;
    display: inline-block;
    padding: 0 15px;
}
.about-title p{
    font-size: 40px;
    font-weight: 600;
    color: black;
}
.about .summary{
    margin: 40px 20px 10px 20px;
    padding: 75px 30px;
    font-size: 20px;
    border-radius: 30px;
    flex-wrap: wrap;
    background-color: #f0f0f0;
}
.about .skills {
    margin-top: 50px;
    margin-bottom: 30px;
}

.about .skill-name {
    margin-top: 30px;
}

.about .skill-name p {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 400;
}

/* those percentages are considered as last child */
.about .skill-name p:last-child {
    float: right;
}

.about .progress {
    height: 10px;
    border-radius: 10px;
    background: #dddddd;
}

.about .progress .progress-bar {
    width: 0;
    background: #EF233C;
    border-radius: 10px;
    transition: 2s;
}

.about .about-text a.btn {
    margin-top: 15px;
}

@media (max-width: 991.98px) {
    .about .about-content {
        padding: 45px 15px 0 15px;
    }
}


@media (min-width: 991.98px) {
    .about .progress {
        margin-right: 30px;
    }
    .about .skill-name p:last-child {
        margin-right: 35px;
    }
}


/*******************************/
/*********** Blog CSS **********/
/*******************************/
.blog {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.blog .blog-item {
    margin-top: 16px;
    position: relative;
    margin-bottom: 30px;
}

.blog .blog-img {
    position: relative;
    width: 100%;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
}

.blog .blog-img img {
    width: 100%;
    height: 250px;
    transition: .4s;
}

.blog .blog-item:hover img {
    transform: scale(1.1);
}

.blog .blog-text {
    position: relative;
    padding: 30px;
    border-right: 1px solid rgba(0, 0, 0, .07);
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    border-left: 1px solid rgba(0, 0, 0, .07);
    border-radius: 0 0 20px 20px;
}

.blog .blog-text h2 {
    font-size: 25px;
    font-weight: 600;
}

.blog .blog-text p {
    margin-bottom: 10px;
}

.blog .blog-item a.btn {
    margin-top: 10px;
    padding: 8px 15px;
    color: #fff;
}
.blog .blog-item a.btn:hover{
    color: #EF233C;
}

.blog .blog-item a.btn i {
    margin-left: 8px;
}

.blog .blog-meta {
    position: relative;
    display: flex;
    margin-bottom: 15px;
}

.blog .blog-meta p {
    margin: 0 10px 0 0;
    font-size: 13px;
}

.blog .blog-meta i {
    color: #414141;
    margin-right: 5px;
}

.blog .blog-meta p:last-child {
    margin: 0;
}


/* footer */
footer {
    position: relative;
    margin-top: 25px;
    padding-bottom: 20px;
    background: #EF233C;
    color: #fff;
}

footer .container-fluid {
    padding: 30px 0 0 0;
}

.footer-1{
    margin-left: -75px;
}

.footer-1 p i{
    margin-right: 10px;
}

.footer-2{
    text-align: center;
}
.footer-2 .footer-name{
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footer-2 .footer-work{
    font-size: 18px;
    font-family: sans-serif;
}

footer .footer-social {
    position: relative;
    margin-top: 15px;
}

footer .footer-social a {
    display: inline-block;
    color: #fff;
}

footer .footer-social a i {
    margin-right: 15px;
    font-size: 20px;
    color: #fff !important;
    transition: .3s;
}

footer .footer-social a:last-child i {
    margin: 0;
}

footer .footer-social a:hover i {
    color: #414141;
}

.footer-3{
    display: flex;
    text-align: center;
    margin-left: 70px;
    margin-top: 16px;
    flex-wrap: nowrap;
}
.footer-3 p{
    margin-left: 25px;
    font-size: 16px;
    flex-wrap: nowrap;
}

@media (max-width: 992px) {
    .footer-1{
        text-align: center;
    }
}
@media (max-width: 770px) {
    .footer-1{
        margin-left: 10px;
    }
}